// Inspired by: Fireship's Animated Navbar with CSS
// https://www.youtube.com/watch?v=biOMz4puGt8

@mixin colorAndBackground($color, $backgroundColor) {
    color: $color;
    background: $backgroundColor; 
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

p {
    font-family: $font-family;
}

i {
    color: $icon;
    transition: $transition-speed;
}

body {
    @include colorAndBackground(black, white);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 7rem;
    padding: 1rem 3rem;
}

.navbar {
    width: 7rem;
    height: 100vh;
    position: fixed;
    background-color: $bg-primary;
    transition: width 200ms ease;

    &-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &:hover {
        // when hovering over navbar, navbar will expand, icon will shift with text alongside it,
        // and logo icon wil rotate 180 degrees to the left
        width: 18rem;

        i {
            min-width: 2rem;
            margin: 0 1.5rem;
        }

        .link-text {
            display: block;
        }

        .logo i {
            transform: rotate(-180deg);
        }
    }
}

.nav-item {
    width: 100%;

    // place last icon on the far bottom
    &:last-child {
            margin-top: auto;
        }
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: $text-primary;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;

    &:hover {
        // when hovering over link, change color
        filter: grayscale(0%) opacity(1);
        @include colorAndBackground($text-secondary, $bg-secondary);
    }

    i {
        min-width: 2rem;
        margin: auto;
        
    }
} 

.link-text {
    display: none; 
    margin-left: 1rem;
    font-family: $title-font-family;
}

.logo-text {
    font-size: 1.2rem;
    font-family: $title-font-family;
    font-weight: bold;
}

.logo {
    // margin-bottom: 1rem;
    text-align: center;
    @include colorAndBackground($text-secondary, $bg-secondary);
    font-size: 1rem;
    width: 100%;

    a {
        display: flex;
        justify-content: center;
    }
    i {
        transform: rotate(0deg);
        transition: transform $transition-speed;
    }
}